name: Test

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: tracel-ai/github-actions/setup-rust@v6
        with:
          rust-toolchain: stable
          cache-key: stable-linux
      # --------------------------------------------------------------------------------
      - name: Audit
        run: cargo xtask check audit
      # --------------------------------------------------------------------------------
      - name: Format
        shell: bash
        env:
          # work around for colors
          # see: https://github.com/rust-lang/rustfmt/issues/3385
          TERM: xterm-256color
        run: cargo xtask check format
      # --------------------------------------------------------------------------------
      - name: Lint
        run: cargo xtask check lint
      # --------------------------------------------------------------------------------
      - name: Typos
        run: cargo xtask check typos
      # --------------------------------------------------------------------------------
      - name: Test generation of bindings
        run: cargo xtask generate was --test

